html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 96rem;
    margin: 0 auto;
}


.header {
    border-bottom: solid 3px #01add4;
    
    margin-bottom: 2rem;
    &__inner {
        position: relative;
        overflow: auto;
    }
    &__logo {
        float: left;
        padding-top: 1rem;
        &-image {
            width: auto;
            float: left;
            margin-bottom: 0.5rem;
            margin-right: 1.2rem;
        }
        & ul {
            // width: 80%;
            float: left;
            
        }
        &-title {
            &-item {
                font-size: 12px;
                font-family: 'Kozuka Gothic Pr6N', sans-serif;       
                color: rgb(89, 90, 92);
                // line-height: 5;
                text-align: left;
                text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

            }
            &-item:nth-child(2){
                font-size: 30px;
                font-family: 'Kozuka Gothic Pr6N', sans-serif;
                color: rgb(0, 184, 223);
                text-shadow: 0px 2px 3px #fff;
                line-height: 2;
                font-weight: bold;
                & span {
                    color: #f51c6d;
                }
            }
            
        }
    }
      
    &__contact {
        position: absolute;
        right: 0;
        bottom: 1.7rem;
        &-item {
            // overflow: auto;
            & a {
                text-decoration: none;
                cursor: pointer;
                padding: 0.4rem;
                border-radius: 0.5rem;
                font-size: 1.2rem;
                margin-right: 1.5rem;
            }
            & a:first-child{
                background-color: #e4e4e4;
                color: black;
                & i {
                    color: #00acee;
                }
            }
            & a:nth-child(2) {
                background-color: #3e59a5;
                color: white;
                & i {
                    color: white;
                }
            }
            & a:nth-child(3){
                background-color: white;
                color: #e05c4b;
                border: solid 1px #9197a3;
                // & i {
                //     color: white;
                // }
            }
            & a:nth-child(4){
                // background-color: #2c6ebd;
                // border: solid 1px #abc5e5;
                padding: 0;
                margin-right: 0;
                & span:first-child{
                    background-color: #2c6ebd;
                    color: white;
                    padding: 0.5rem;
                    border-radius: 0.5rem 0 0 0.5rem;
                }
                & span:nth-child(2) {
                    background-color: white;
                    padding: 0.4rem 1.5rem;
                    border: solid 1px #abc5e5;
                    border-radius: 0 0.5rem 0.5rem 0;
                }
            }
        }
    }
}
@mixin text($size,$color,$weight:400) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
}


.body {
    overflow: hidden;
    &__sidebutton {
        position: absolute;
        left: 0;
        background-color: transparent;
        border: none;
        color: #cccccc;
        // border-radius: 20%;
        display: none;
    }
    &__sidebar {
        float: left;
        width: 25rem;
        margin-right: 2.9rem;
        &-box {
            margin-bottom: 1.5rem;
            &-title {
                background-color: #00b2db;
                padding: 1.4rem 0.7rem;
                font-family: 'Kozuka Gothic Pr6N', sans-serif;
                @include text(1.4rem, white);
                line-height:1.286;
                border: solid 1px #07a4c5;
                border-radius: 0.5rem;
                margin-bottom: 0.5rem;
                & i {
                    color: #fff94f;
                }
            }
            &-list {
                background-color: #f3f5ee;
                border: solid 1px #d8d8d8;
                border-radius: 0.5rem;
                padding: 1.8rem 1.1rem;
            }
            &-item {
                font-family: Arial, Helvetica, sans-serif;
                padding-bottom: 1.9rem;
                line-height: 1.571;
                & span {
                    @include text(14px, rgb(255, 249, 79));
                    background-color: #f51c6d;
                    padding: 0.3rem 0.7rem;
                    font-weight: 500;

                }

                  
                & .play-button {
                    font-size: 0.7rem;
                    color: #6dcff6;
                    background-color: #e0dfe0;
                    border: solid 1px #c7c7c7;
                    border-radius: 0.3rem;
                    padding: 0.2rem;
                    cursor: pointer;
                }
                & a {
                    padding-left: 0.9rem;
                   @include text(1.4rem,rgb(41, 149, 225));
                //    line-height: 2.857;
                font-weight: 500;

                }
                  
            }
            &-item:last-child {
                padding-bottom: 0;
            }
        }
        &-box:last-child{
            margin-bottom: 0;
        }
    }

    
    &__content {
        
        width: 68.1rem;
        float: left;
    }

    @media(max-width:768px) {
        position: relative;
        &__sidebutton{
            display: block;
            left: 101%;
            transition: 0.5s;
            top: 0.5%;
        }
        & .showcontent {
            position: absolute;
            // left: 101%;
            // top: 0.5%;
            background-color: #00b2db;
            border-radius: 0.5rem;
            transform: rotate(180deg);
            transition: 0.5s;
        }
        &__sidebar {
            position: absolute;
            left: -26.04%;
            z-index: 4;
            background-color: white;
            transition: 0.5s;
        }
        & .show {
            position: absolute;
            left: 0;
            transition: 0.5s;
        }

        &__content {
            width: 100%;
            margin-left: 0;
        }
    }
}


.banner {
    background-color: #f3f5ee;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-bottom: 2.8rem;

    &__inner {
        padding:3rem 2.3rem 2.6rem;
        
    }
    &__background {
        object-fit: cover;
        width: 29.7rem;
        z-index: 0;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 0.5rem 0.5rem 0;
        // overflow: hidden;
    }
    
    &__title {
        position: relative;
        z-index: 2;
        font-family: 'A-OTF Shin Go Pro', sans-serif;
        @include text(3.1rem, rgb(70, 68, 68));
        line-height: 1;
        text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        font-weight: bold;
        & span {
            color: #e50c5d;
        }
        padding-bottom: 1.8rem;
    }
    &__title:nth-child(3) {
        @include text(4.1rem, rgb(255, 90, 160));
        font-weight: bold;
        padding-bottom: 2.8rem;
    }
      

    &__images {
        overflow: hidden;
        position: relative;
        z-index: 2;
        & img {
            width: 15rem;
            float: left;
            padding-right: 1rem;
            border-radius: 2rem;
        }
    }

    
}



.top-banner {
    background-color: #f1ece3;
    border: solid 2px #0daacb;
    margin-bottom: 0.6rem;
    &__title:first-child {
        letter-spacing: 2px;
        text-align: center;
        @include text(2.4rem,rgb(0, 0, 0),bold);
        text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        padding-left: 17rem;
        padding-bottom: 0.4rem;
        height: 4.4rem;
        position: relative;
        & img {
            float: left;
        }
        & span {
            float: left;
            position: absolute;
            bottom: 0.2rem;
            left: 225px;
        }
    }

    &__title:nth-child(2){
        @include text(2.6rem,#ff5d9a ,900 );
        // padding-left: 9rem;
        text-align: center;
        letter-spacing: 2px;
        text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        line-height: 1.538;

    }
}


.top {
    margin-bottom: 4.4rem;
    &__item {
        border: solid 3px #cccccc;
        &-inner {
            padding: 1.8rem;

        }

          
        &-title {
            padding-bottom: 1.7rem;
            & span {
                @include text(3rem,white);
                line-height: 2;
                font-family: Arial, Helvetica, sans-serif;
                background-color: #fb5d61;
                padding: 1rem;
                margin-right: 2rem;
                border-radius: 0.5rem;
            }
            & a {
                @include text(3rem, rgb(41, 149, 225));
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        &-content {
            overflow: hidden;
            & img {
                float: left;
                width: 21rem;
            }
            &-description {
                float: right;
                width: 62.7%;
                margin-left: 1.7rem;
                & h2 {
                    @include text(1.8rem, rgb(58, 58, 58),bold);
                    background-image: url('images/top/bg.png');
                    background-size: cover;
                    line-height: 1.944;
                    text-align: center;
                    margin-bottom: 2.5rem;                    
                }

                
                & h3 {
                   
                        line-height: 2.9375;
                    & a {
                        @include text(1.6rem,rgb(254, 15, 17),bold);
                        text-decoration: none;
                        
                    }
                    
                    & i {
                        color: #308bb1;
                        padding-right: 1rem;
                        font-size: 2.7rem;
                    }
                    border-bottom: solid 1px #cccccc;
                }
            }
        }
    }
}


  

.info{
    
    margin-bottom: 7rem;
    &__title {
        background-color: #f6f2ec;
        padding: 1rem;
        border: solid 3px #cccccc;
        border-radius: 0.5rem;
        margin-bottom: 0.7rem;
        @include text(2.4rem, rgb(3, 156, 191),bold);
        text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        & i {
            transform: rotate(90deg);

        }
    }
    &__content {
        @include text(1.4vw, rgb(102, 102, 102));
        line-height:1.714;
        background-color: #f3f5ee;
        padding: 2.2rem 2.9rem;
    }
}

.footer {
    @include text(1.4rem,black);
    line-height: 1.714;
    text-align: center;
    background-color: #ffc550;
    padding: 3.3rem 0;
    font-family: Arial, Helvetica, sans-serif;
}

  

  



  



  


  



  


  
